@import "tailwindcss";

:root {
  /* --background: white; */
  --foreground: #0a001b;
}

@layer utilities {
  .mask-radial {
    -webkit-mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 66%
    );
    mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 66%
    );
  }
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-17px);
  }
}

/* New class for one-time wave */
.animate-wave-once {
  animation: wave 1s ease forwards;
}

@theme {
  --color-primary: #0a001b;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    -color: white;
  }
} */

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.cabin {
  font-family: "Cabin Sketch", sans-serif;
}
